{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="col-md-8 mx-auto">
  <h1>{% trans "Sign In" %}</h1>

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form | crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction btn btn-primary me-3" type="submit">{% trans "Sign In" %}</button>
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

  </form>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p class="mt-5 text-center">
    {% blocktrans with site.name as site_name %}
    Sign In with one of your existing third party accounts.
    {% endblocktrans %}
  </p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>

  {% endif %}

  <p class="lead mt-5">Don't have an Account? <a href="{{ signup_url }}">Sign Up</a></p>
</div>
{% endblock %}