[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pre-commit = "*"
python-decouple = "*"
whitenoise = {extras = ["brotli"], version = "*"}

[dev-packages]
pytest-django = "*"
djlint = "*"
pytest-cov = "*"
coverage = {extras = ["toml"], version = "*"}
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
