[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pre-commit = "*"
python-decouple = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.11"
